#body {
  width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
}

svg {
  border: 1px solid #ccc;
}

svg text {
  font-family: Montserrat, Avenir Next, Arial, Helvetica, sans-serif;
}

.arrow {
  stroke-width: 3;
  stroke: #000;
}

#arrow {
  stroke-width: 1;
  stroke-dasharray: 0;
}

.layout, .pointer {
  stroke-width: 2;
  stroke: #555;
}

text.legendTitle, text.title {
  font-size: 15px;
  font-weight: bold;
}
